@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Bids cost just $0.60 and can be purchased in bid packs at the Bid Store or in the QBar. These bids are pre-paid and stored in the Bid Credit History section of My QuiBids. Each time you place a bid; it will be deducted from your remaining bids, and will increase the price of the auction by one cent. . No more than 20 seconds is added to the timer whenever a bid is placed. This allows another user the opportunity to bid if interested. It's just like the auctioneer shouting “Going once...Going twice...SOLD!” at a traditional auction. But unlike traditional auctions, as users pay for each bid, they need to think harder about biding and there fore, less bids will be posted, and usually product sold to last bidder is at half price or even lower than its original price.</p>
