@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BidWhatYouNeed</h1>
    <p class="lead">To get things that you want to buy, just bid last and pay less than ever before</p>
    <p><a @Html.ActionLink("Show me Auctions", "Index", "Auctions", "", new { @class = "btn btn-primary btn-lg" }) </a></p>
    <!--&raquo;-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Safe environment</h2>
        <p>
            BidWhatYouNeed offers a safe marketplace for both buyers and sellers. With the high membership rate and wide selection of features, BidWhatYouNeed's service can be profitable to sellers and entrepreneurs looking to start a business. The prime marketplace filled with buyers is unmatched by any other auction site.
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>Simple to use</h2>
        <p>You don't need to rent a large space or travel far to make some money selling your creations and used items. With an online auction site, you can sell or buy a variety of items from the comfort of your own home, just in few clicks.</p>
        
    </div>
    <div class="col-md-4">
        <h2>About us</h2>
        <p>What is BidWhatYouNeed?
            BidWhatYouNeed.com is an online penny auction site. But at first read, this statement is deceiving. You might think that you pay a penny to make a bid on any particular auction item. But it's quite the opposite. You actually pay $0.60 for each bid you make, only being able to up the current bid for the auction item by one "penny". Actually, the bid amounts vary in either 1, 2, 5, 10 or 20 cent increments each, where 5 cents is the norm.</p>
    </div>
</div>